
:root {
  color-scheme: light dark;
  /* color-scheme: light; */
}

* {
  box-sizing: border-box;
}

input, button {
  margin-right: 5px;
  margin-bottom: 5px;
}

label {
  user-select: none;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
  &:has(input:enabled) {
    cursor: pointer;
  }
}

button:enabled, input[type="checkbox"]:enabled {
  cursor: pointer;
}

html, body {
  margin: 0; height: 100%;
}

h1 {
  margin: 0;
  margin-top: 10px;
}

.cleanBreak {
  display: flex;
  flex-wrap: wrap;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  /* prevents a bug where it can become smaller than content: */
  min-width: min-content;
}

#chat {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  overflow-y: auto;
  /* scroll-behavior: smooth; */
  min-height: 10em;
  > p {
    margin: 5px;
    margin-bottom: 0;
    &:nth-child(even) {
      background-color: light-dark(rgba(0,0,0,0.1), rgba(255, 255, 255, 0.1));;
    }
  }
}
